@model Modelo.Product

<div class="container">
    <div class="row">
        <div class="col-6">
            Nome:
        </div>
        <div class="col-6">
            @Model.ProductName
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            Id:
        </div>
        <div class="col-6">
            @Model.Id
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form method="POST" asp-action="ConfirmDelete" asp-controller="Product">
                <input type="hidden" name="id" value="@Model.Id"/>

                <button class="btn btn-primary">
                    Excluir
                </button>

                <a asp-action="Index" asp-controller="Product" class="btn btn-danger">Voltar</a>
            </form>
        </div>
    </div>
</div>