
<style>
    body {
        margin: 0;
        font-family: 'Poppins', sans-serif;
        background-color: #F4A460;
    }

    .centraliza-tela {
        height: 100vh;
        display: flex;
        flex-direction: column; /* coloca um em cima do outro */
        justify-content: center; /* centraliza verticalmente */
        align-items: center; /* centraliza horizontalmente */
        text-align: center;
    }

    .btn-custom {
        background-color: #F4A460;
        color: white;
        border: 2px solid black;
        padding: 15px 40px;
        font-size: 2.5rem;
        margin: 10px;
        border-radius: 8px;
        transition: background-color 0.3s ease;
    }

        .btn-custom:hover {
            background-color: #e4934f;
            border: 2px solid black;
        }

    a {
        text-decoration: none;
        color: inherit;
    }
</style>

<div class="centraliza-tela flex-column text-center">
    <h1 class="mb-4">O que você deseja?</h1>

    <div class="d-flex justify-content-center">
        <button class="btn btn-custom"><a asp-action="List" asp-controller="Property">Ver imóveis atuais</a> </button>
        <button class="btn btn-custom"><a asp-action="Register" asp-controller="Property">Cadastrar um novo</a> </button>
    </div>
</div>
