@model Modelo.Customer

<div class="container">
    <div class="row">
        <div class="col-6">
            Nome: 
        </div>
        <div class="col-6">
            @Model.Name
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            Id:
        </div>
        <div class="col-6">
            @Model.Id
        </div>
    </div>

    <div class="row">
        <a asp-action="Index" asp-controller="Customer" class="btn btn-danger">Voltar</a>
    </div>
</div>