using Modelo

<form id="formCustomer" method="post" asp-action="Create" asp-controller="Customer">
    <div class="row">
        <div class="form-group">
            <label >Faça upload do arquivo:</label>
            <input type="file" class="form-control"/>
        </div>
    </div>



    <button id="btnCustomer" type="submit" class="btn btn-primary" value="Cadastrar">Cadastrar</button>
</form>