@model DataType;

@{
    ViewData["Title"] = "Home Page";
}

<table>
    <thead>
        <tr>
            <th>Variável</th>
            <th>Valor</th>
        </tr>
    </thead>

    <tbody>
        <tr>

        </tr>
    </tbody>
</table>
