@{
    ViewData["Title"] = "Home Page";
}

<div class="container-principal" style="background-image: url('https://imagens.usp.br/wp-content/uploads/Vista-do-Pico-do-Jaragua_Foto-Marcos-Santos_U0Y9926.jpg'); background-size: cover; background-position: center; height: 100vh; width= 100vw;>
    <h1 style="color: white; padding: 20px;">Bem-vindo ao meu site</h1>

    <div class="text-center">
    <h1 class="display-4">Seja Bem vindo!</h1>
    <p >Imóveis mais que especiais, aqui em Santa Catarina</p>
</div>

</div>


